.image-frames {
  opacity: 0;
  transform: translateY(100%); /* Start off-screen */
  transition: all 2s ease-out;
}

.slide-up {
  opacity: 1;
  transform: translateY(0); /* Move into view */
}

@media (prefers-reduced-motion: reduce) {
  .image-frames,
  .slide-up {
    transition: none;
    opacity: 1;
    transform: none;
  }
  //   }
}
