// .landing-page {
//   height: 100vh;
//   width: 100vw;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   background: url("/path-to-your-background-image.jpg") no-repeat center center
//     fixed;
//   background-size: cover;
//   color: white;
//   text-align: center;
//   font-size: 24px;
// }

.landing-page {
  background: radial-gradient(
    circle at bottom,
    var(--color-primary) 20%,
    var(--color-primary-content) 60%,
    var(--color-base-100)
  );

  &.slide-down {
    animation: slideDown 1s forwards;
  }

  // Animation for sliding down
  @keyframes slideDown {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(100%);
      opacity: 0;
    }
  }
}
