@import url("https://fonts.googleapis.com/css2?family=Acme&family=Righteous&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "primereact/resources/themes/tailwind-light/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color1: #312b4c;
    --color2: #8c63a7;
    --color3: #a08bd0;
    --color4: #c3bce7;
    --color5: #fafafa;

    --heading: "Acme";
    --subHeading: "Righteous";
    --content: "Urbanist";
  }
}

#root {
  height: 100dvh;
}

* {
  scroll-behavior: smooth;
}

.p-button:focus,
.p-inputtext:enabled:focus,
.p-link:focus {
  box-shadow: none !important;
  outline: none !important;
  // border: 2px solid #cb444a;
  border-color: #353735;
  border: 0px;
}

.p-toast {
  z-index: 10000;
}

.p-dialog-mask {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

a {
  font-style: oblique;
}

ul:not(.p-contextmenu ul) {
  list-style-type: disc;
}

@media (hover: hover) and (pointer: fine) {
  .p-button:hover,
  a:hover {
    color: var(--color5);
    background-color: var(--color3);
    border-color: var(--color3);
  }
}

@media only screen and (max-width: 520px) {
  .p-toast {
    width: 80%;
    max-width: 80%;
  }
}
