@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "primereact/resources/themes/tailwind-light/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color1: #312b4c;
    --color2: #8c63a7;
    --color3: #a08bd0;
    --color4: #c3bce7;
    --color5: #fafafa;

    --heading: "Acme";
    --subHeading: "Righteous";
    --content: "Urbanist";
  }
}
