@import "primereact/resources/primereact.min.css" layer(base);
@import "primeicons/primeicons.css" layer(base);
@import "primereact/resources/themes/tailwind-light/theme.css" layer(base);

@import "tailwindcss";

/* @config '../tailwind.config.js'; */
@theme {
  --color-color1: #312b4c;
  --color-color2: #8c63a7;
  --color-color3: #a08bd0;
  --color-color4: #c3bce7;
  --color-color5: #fafafa;

  --font-heading: "Acme";
  --font-subHeading: "Righteous";
  --font-content: "Urbanist";

  --breakpoint-mdl: 896px;
  --breakpoint-xs: 480px;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  html {
    --color1: #312b4c;
    --color2: #8c63a7;
    --color3: #a08bd0;
    --color4: #c3bce7;
    --color5: #fafafa;

    --heading: "Acme";
    --subHeading: "Righteous";
    --content: "Urbanist";
  }
}
